@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light: #f3eeff;
  --color-accent: #5d24f1;
  --color-medium: #bba0ff;
}

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
